/* variables de color */

:root {
    --morado1: #1F0D36;
    --morado2: #402563;
    --gris: #949495;
    --beige: #E6E2D8;
    --white: #FFFFFF;
    --naranja: #EF7E16;
    --naranja-oscuro: #B8600E;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.body {
    margin: 0;
    font-family: "Ubuntu Sans", sans-serif;
    background-color: var(--morado1);
    overflow-x: hidden;
}

.hero {
    position: relative;
    background-image: url("../assets/images/hero.jpg");
    background-size: cover;
    background-position: center;
    height: 300px;

}

.hero-overlay {

    position: absolute;
    top: 50%;
    left: 0%;
    right: 0%;
    transform: translateY(-30%);
    width: auto;
    background: rgba(64, 37, 99, 0.7);
    padding: 10px 28px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hero-overlay h1 {
    margin: 0;
    color: white;
}

.hero-overlay p {
    margin: 0;
    color: white;
    font-size: 14px;
}

.navbar {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    /* 👈 clave */
    padding: 24px 48px;
    z-index: 2;
}

.top-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

 .nav-links {
        display: flex;
        gap: 16px;
        flex-wrap: wrap;
        font-weight: 700;
        text-decoration: none;
        list-style: none;
    }

.nav-links a {
    color: var(--white);
   
}

.nav-links a:hover {
    color: var(--morado2);
}

.h1 {
    color: #FFF;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    font-size: 26px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    font-variant: small-caps;
    margin: 0px;
}

.h2 {
    color: #FFF;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    font-variant: small-caps;
    color: var(--beige);
}

/* sección Cards*/
.cards {
    margin-top: 8px;
    padding-left: 8px;
    padding-right: 8px;
    display: flex;
    list-style: none;
    gap: 8px;
    flex-direction: column;
    align-items: stretch;
}

.card {

    gap: 8px;
    background-color: var(--morado2);
    border-radius: 5px;
    padding: 8px;
    margin: 10px;
    color: var(--white);
    flex: 1;
}

.card h5 {
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.card p {
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
    padding-top: 10px;
}


.fotocard {
    min-height: fit-content;
    border-radius: 5px;
    background-color: var(--white);
    margin-bottom: 16px;
    height: 140px;
    overflow: hidden;
    aspect-ratio: 16 / 9; /* 👈 mantiene proporción */
    width: 100%;
}

.fotocard img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
}

/* sección experiencia*/
.experiencia {
    background: var(--beige);
    padding: 24px 24px 24px 48px;
    color: var(--morado1);
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 40px;
}

.cada_experiencia {
    border-left: 3px solid var(--gris);
    padding-left: 16px;


}

h5 {
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding-top: 16px;
}

.experiencia p {
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
    padding-top: 8px;
}

/* sección contacto*/

.contact {
    display: flex;
    justify-content: space-between;
    padding: 60px;
    background: #3b1b5c;
    color: white;
}

.contact-left {
    width: 40%;
}

.contact-left h2 {
    margin-bottom: 20px;
}

.profile {
    display: flex;
    gap: 15px;
    margin: 20px 0;
}

.profile img {
    width: 60px;
    height: 60px;
    border-radius: 100%;
}

.phone,
.location {
    margin-top: 10px;
    font-size: 14px;
}


/*form*/
.btn-dark {
    background: var(--naranja);
    border: none;
}

.btn-dark:hover {
    opacity: 0.9;
    background-color: var(--naranja-oscuro);
}

.form-control:focus {
    border-color: var(--morado2);
    box-shadow: 0 0 0 0.2rem rgba(64, 37, 99, 0.2);
}

/*Optimización para pantallas tablet*/
@media(min-width: 768px) {
    .cards {
        flex-direction: row;
    }

}

/*Optimización para pantallas desktop*/
@media(min-width: 1440px) {
    .cards {
        flex-direction: row;
    }

}