
.casos ul {
    font-size: 1.2rem;
    padding-top:10px ;
}
.casos li {
    font-size: 1.2rem;
}
.casos h4 {
    font-weight: 700;
    font-size: 1.3rem;
      padding-top: 10px;
  
    color: var(--morado2);
}

.casos p {
    font-size: 1.2rem;
    flex-grow: 1;
    
}

.tit-casos h2 {
    font-size: 1.75rem;
    font-style: normal;
    text-shadow: none;
    color: var(--morado1);
    font-variant: normal;
    padding-bottom: 30px;
}

.foto-casos {
    width: 50%;
    aspect-ratio: 16 / 9;
    object-fit: cover;
    object-position: top;
    border-radius: 5px;
    margin-top: auto;
}

